.mother{
    border: 1px solid red;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.children{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}